* {
  box-sizing: border-box;
}

body {
  font-family: "Atkinson Hyperlegible", monospace, sans-serif;
  background-color: #faf9f7;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
  margin: 1rem 0.5rem;
  text-align: right;
}

button {
  border: none;
  font-size: 2rem;
  padding: 1.5rem 1rem;
  width: 100%;
  font-family: "Atkinson Hyperlegible", monospace, sans-serif;
}

button:hover, button:focus {
  background: linear-gradient(rgba(250, 249, 247, 0.7), rgba(250, 249, 247, 0.7));
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px #157eff inset;
}

button:active {
  opacity: 0.9;
}

.operator button {
  background-color: #e6f2df;
}

.operator button:hover, .operator button:focus {
  box-shadow: 0px 0px 0px 3px #57b223 inset;
}

.number button {
  background-color: #e5effb;
}

.clear button:hover, .clear button:focus {
  box-shadow: 0px 0px 0px 3px #d1671b inset;
}

.backspace button:hover, .backspace button:focus {
  box-shadow: 0px 0px 0px 3px #8342e4 inset;
}

.result {
  grid-area: result;
  color: white;
  background-color: black;
  /* grid-column: 1 / span 3;
  grid-row: row1-start; */
}

.clear {
  grid-area: clear;
  /* grid-column: 1 / span 1;
  grid-row: row2-start; */
}

.clear button {
  background-color: #feebdd;
}

.backspace {
  grid-area: backspace;
  /* grid-column: 3;
  grid-row: row2-start; */
}

.backspace button {
  background-color: #f3ebff;
}

.divide {
  grid-area: divide;
  /* grid-column: 4;
  grid-row: row2-start; */
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiply {
  grid-area: multiply;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.subtract {
  grid-area: subtract;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.add {
  grid-area: add;
}

.zero {
  grid-area: zero;
}

.equals {
  grid-area: equals;
}

.calculator {
  display: grid;
  grid-template-columns: 85px 85px 85px 85px;
  grid-template-areas:
  "result result result result"
  "clear clear backspace divide"
  "seven eight nine multiply"
  "four five six subtract"
  "one two three add"
  "zero zero zero equals";
  grid-gap: 0.15rem;
  width: calc(85px*4 + 0.15rem*3 + 2px*2);
  margin: 0 auto;
  background-color: black;
  border: 2px solid black;
  border-radius: 2rem;
  overflow: hidden;
}
